@import url(https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css);

@font-face {
    font-family: 'FC Mininmal';
    src: url('assets/FC-Minimal/FC\ Minimal\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FC Mininmal';
    src: url('assets/FC-Minimal/FC\ Minimal\ Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FC Mininmal';
    src: url('assets/FC-Minimal/FC\ Minimal\ Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FC Mininmal';
    src: url('assets/FC-Minimal/FC\ Minimal\ Bold\ Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    font-family: 'FC Mininmal', 'Noto Color Emoji';
    transition: 0.2s ease;
}

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 200px;
    background-color: #333;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
    margin-left: 20px;
}

.menu-btn {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.offcanvas {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100%;
    background-color: #333;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    transition: 0.4s ease;
    z-index: 2000;
}

.offcanvas a {
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 4rem;
    font-weight: 500;
}

.offcanvas a.active {
    color: #ffc000;
}

.offcanvas.active {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

main {
    padding: 0px 200px;
}

section {
    padding-top: 40px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    aspect-ratio: 20 / 9;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #fff;
    border: none;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Dots */
.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 8px;
    z-index: 2;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    transition: all 0.3s ease;
}

.dot.active {
    width: 32px;
    border-radius: 10px;
    background: #fff;
}

header nav a.active {
    color: #ffc000;
}

.logo {
    height: 2.5rem;
}

.heading {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.board-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:40px;
}

.board-card{
    text-align:left;
    text-decoration: none;
}

.board-card img{
    width:100%;
    background: #ffc000;
    border-radius: 12px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.board-card h3{
    color:#000;
    font-size: 3rem;
    margin:10px 0 5px 0;
    line-height:1;
}

.board-card h3 span {
    font-size: 2rem;
}

.board-card p{
    font-weight: 500;
    font-size:1.5rem;
    color:#555;
    display:block;
    margin:0;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 100px;
    font-size: 1.25rem;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.news-card {
    overflow: hidden;
    text-decoration: none;
}

.news-card img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 12px;
    object-fit: cover;
}

.news-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.news-content p {
    color: #000;
    margin-bottom: -20px;
}

.news-content span {
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
}

.news-content span i {
    font-size: 1rem;
}

.news-card:hover {
    transform: scale(1.1);
}

.policy-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.accordion-item {
    overflow: hidden;
    transition: 0.4s ease;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
    color: #000;
    background: #f5f5f5;
    border-radius: 12px;
}

.accordion-item.active .accordion-header, .accordion-header:hover {
    background: #ffc000;
}

.accordion-header h3 {
    margin: 0;
    font-size: 4rem;
}

.accordion-header .icon {
    font-size: 3rem;
    transition: 0.3s;
    color: #000;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    color: #000;
    padding: 0 30px;
    transition: 0.6s ease;
}

.accordion-content p {
    margin: 15px 0;
    white-space: pre-line;
    font-size: 1.5rem;
    font-weight: 500;
}

.accordion-item.active .accordion-content {
    max-height: 1000px;
    padding: 20px 30px 0;
}

.accordion-item.active .icon {
    transform: rotate(45deg);
}

.post-hero {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0;
    overflow: hidden;
}

.post-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-hero .overlay {
    position: absolute;
    inset: 0;
    background: #00000080;
}

.hero-text {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: #fff;
    text-align: center;
    z-index: 2;
}

.hero-text h1 {
    font-size: 4rem;
    margin: 20px 0;
}

.hero-text p {
    margin-bottom: -20px;
    font-size: 1.5rem;
    opacity: 0.8;
}

.post-container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.post-box {
    max-width: 800px;
    padding: 20px;
    line-height: 1.4;
    font-size: 1.5rem;
}

.post-box h2 {
    margin-top: 30px;
    font-size: 2.2rem;
}

.post-image {
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
}

.lead {
    font-size: 2rem;
}

.quote {
    border-left: 4px solid #ffc000;
    padding-left: 15px;
    margin: 20px 0;
    color: #555;
}

.list-icon i {
    color: #ffc000;
    margin-right: 10px;
}

.highlight {
    padding: 0px 10px;
    background-color: #ffc000;
    font-weight: 600;
}

.share-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.share-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.share-btn {
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

.share-btn.copy {
    background: #eee;
    color: #333;
}

.share-btn:hover {
    transform: scale(1.1);
}

.copy-status {
    display: block;
    margin-top: 8px;
    color: green;
    font-size: 1rem;
    opacity: 0;
    transition: 0.2s;
    font-weight: 500;
}

.copy-status.show {
    opacity: 1;
}

.alert {
    width: 100%;
    overflow: hidden;
    background: #dd0000;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
}

.notfound {
    text-align: center;
    padding: 100px 20px;
}

.notfound h2 {
    font-size: 6rem;
    margin: 20px;
}

.notfound p {
    font-size: 2rem;
    color: #555;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

.notfound-actions {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    background: #f5f5f5;
    border: none;
    font-size: 2rem;
}

button:hover {
    transform: scale(1.1);
    background: #ffc000;
}

.table-container {
    overflow-x: auto;
}

.gov-table {
    width: 100%;
    border-collapse: collapse;
}

.gov-table th {
    background-color: #333;
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #ccc;
}

.gov-table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-weight: 500;
}

.gov-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.home-grid a:hover img {
    transform: scale(1.1);
}

.home-grid a img {
    border-radius: 12px;
    margin: 40px 0;
}

@media (max-width: 1024px) {
    header {
        padding: 20px;
    }

    header nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }
    
    main {
        padding: 20px 20px;
    }

    .slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    }

    .prev, .next {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    }
    
    .heading {
        font-size: 3rem;
        margin-bottom: 25px;
    }

    .board-grid{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        gap:20px;
    }

    .board-card h3{
        color:#000;
        font-size:2rem;
        margin:10px 0 5px 0;
    }

    .board-card h3 span {
        font-size: 1.25rem;
    }

    .board-card p{
        font-size:1.5rem;
        color:#555;
        display:block;
        margin:0;
    }

    .accordion-header h3 {
        font-size: 2rem;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .post-box {
        padding: 20px;
    }

    .home-grid a img {
        margin: 20px 0;
    }
    
}
