<header class="header">
        <a href="/"><img src="/assets/logo-yellow-2.png" alt="พรรคก้าวใหม่" class="logoimg"></a>
        <nav>
            <a href="/">ข่าวสาร</a>
            <a href="/mp/">ส.ส. พรรค</a>
            <a href="/about/">เกี่ยวกับพรรค</a>
            <a href="/contact/">ติดต่อเรา</a>
        </nav>
        <div class="menu-btn bi bi-list" onclick="toggleMenu()"></div>
        <div class="offcanvas" id="offcanvas">
            <div class="close-btn bi bi-x" onclick="toggleMenu()"></div>

            <a href="/">ข่าวสาร</a>
            <a href="/mp/">ส.ส. พรรค</a>
            <a href="/about/">เกี่ยวกับพรรค</a>
            <a href="/contact/">ติดต่อเรา</a>
        </div>
    </header>